# Tests over the data

## 1. reading and testing pays.csv

In [57]:
import pandas as pd
import json

In [58]:
pays_df = pd.read_csv("../landing/pays.csv")

In [59]:
pays_df.describe

<bound method NDFrame.describe of           pay_date   total  user_id          value_prop
0       2020-11-01    7.04    35994          link_cobro
1       2020-11-01   37.36    79066  cellphone_recharge
2       2020-11-01   15.84    19321  cellphone_recharge
3       2020-11-01   26.26    19321          send_money
4       2020-11-01   35.35    38438          send_money
...            ...     ...      ...                 ...
756478  2020-11-30   17.76    74524          send_money
756479  2020-11-30  111.02    42594           transport
756480  2020-11-30    0.81     1338           transport
756481  2020-11-30   34.71     1338    credits_consumer
756482  2020-11-30   11.76    99962             prepaid

[756483 rows x 4 columns]>

total rows and collumns
756483         4

Describe df

In [60]:
pays_df.dtypes

pay_date       object
total         float64
user_id         int64
value_prop     object
dtype: object

In [61]:
pays_df['value_prop'].unique()

array(['link_cobro', 'cellphone_recharge', 'send_money', 'transport',
       'prepaid', 'point', 'credits_consumer'], dtype=object)

## 2. reading and testing prints.json

In [62]:
prints_df = pd.read_json("../landing/prints.json", lines=True)

In [63]:
prints_df.describe

<bound method NDFrame.describe of                day                                         event_data  user_id
0       2020-11-01  {'position': 0, 'value_prop': 'cellphone_recha...    98702
1       2020-11-01           {'position': 1, 'value_prop': 'prepaid'}    98702
2       2020-11-01           {'position': 0, 'value_prop': 'prepaid'}    63252
3       2020-11-01  {'position': 0, 'value_prop': 'cellphone_recha...    24728
4       2020-11-01        {'position': 1, 'value_prop': 'link_cobro'}    24728
...            ...                                                ...      ...
508612  2020-11-30        {'position': 0, 'value_prop': 'send_money'}    50807
508613  2020-11-30           {'position': 1, 'value_prop': 'prepaid'}    50807
508614  2020-11-30  {'position': 2, 'value_prop': 'credits_consumer'}    50807
508615  2020-11-30             {'position': 0, 'value_prop': 'point'}     1487
508616  2020-11-30        {'position': 0, 'value_prop': 'send_money'}     9462

[508617 rows x 3 columns]>

In [64]:
s = prints_df['event_data'].map(lambda d: d if isinstance(d, dict) else {})
s

0         {'position': 0, 'value_prop': 'cellphone_recha...
1                  {'position': 1, 'value_prop': 'prepaid'}
2                  {'position': 0, 'value_prop': 'prepaid'}
3         {'position': 0, 'value_prop': 'cellphone_recha...
4               {'position': 1, 'value_prop': 'link_cobro'}
                                ...
508612          {'position': 0, 'value_prop': 'send_money'}
508613             {'position': 1, 'value_prop': 'prepaid'}
508614    {'position': 2, 'value_prop': 'credits_consumer'}
508615               {'position': 0, 'value_prop': 'point'}
508616          {'position': 0, 'value_prop': 'send_money'}
Name: event_data, Length: 508617, dtype: object

In [65]:
event_df = pd.json_normalize(s, sep=',')
event_df

        position          value_prop
0              0  cellphone_recharge
1              1             prepaid
2              0             prepaid
3              0  cellphone_recharge
4              1          link_cobro
...          ...                 ...
508612         0          send_money
508613         1             prepaid
508614         2    credits_consumer
508615         0               point
508616         0          send_money

[508617 rows x 2 columns]

In [66]:
prints_df = prints_df.drop(columns=['event_data']).join(event_df)
prints_df

               day  user_id  position          value_prop
0       2020-11-01    98702         0  cellphone_recharge
1       2020-11-01    98702         1             prepaid
2       2020-11-01    63252         0             prepaid
3       2020-11-01    24728         0  cellphone_recharge
4       2020-11-01    24728         1          link_cobro
...            ...      ...       ...                 ...
508612  2020-11-30    50807         0          send_money
508613  2020-11-30    50807         1             prepaid
508614  2020-11-30    50807         2    credits_consumer
508615  2020-11-30     1487         0               point
508616  2020-11-30     9462         0          send_money

[508617 rows x 4 columns]

Normalizing jsons in columns

In [67]:
prints_df.describe

<bound method NDFrame.describe of                day  user_id  position          value_prop
0       2020-11-01    98702         0  cellphone_recharge
1       2020-11-01    98702         1             prepaid
2       2020-11-01    63252         0             prepaid
3       2020-11-01    24728         0  cellphone_recharge
4       2020-11-01    24728         1          link_cobro
...            ...      ...       ...                 ...
508612  2020-11-30    50807         0          send_money
508613  2020-11-30    50807         1             prepaid
508614  2020-11-30    50807         2    credits_consumer
508615  2020-11-30     1487         0               point
508616  2020-11-30     9462         0          send_money

[508617 rows x 4 columns]>

total rows and collumns
508617         3

In [68]:
prints_df['position'].unique()

array([0, 1, 2, 3])

## 3. Reading and testing data taps.json

In [69]:
taps_df = pd.read_json('../landing/taps.json', lines=True)

In [70]:
taps_df.describe

<bound method NDFrame.describe of               day                                         event_data  user_id
0      2020-11-01  {'position': 0, 'value_prop': 'cellphone_recha...    98702
1      2020-11-01             {'position': 2, 'value_prop': 'point'}     3708
2      2020-11-01        {'position': 3, 'value_prop': 'send_money'}     3708
3      2020-11-01         {'position': 0, 'value_prop': 'transport'}    93963
4      2020-11-01  {'position': 1, 'value_prop': 'cellphone_recha...    93963
...           ...                                                ...      ...
50854  2020-11-30  {'position': 2, 'value_prop': 'credits_consumer'}    64149
50855  2020-11-30             {'position': 1, 'value_prop': 'point'}     3329
50856  2020-11-30  {'position': 1, 'value_prop': 'cellphone_recha...    77012
50857  2020-11-30  {'position': 2, 'value_prop': 'cellphone_recha...    14704
50858  2020-11-30         {'position': 2, 'value_prop': 'transport'}    93605

[50859 rows x 3 columns]>

In [71]:
s = taps_df['event_data'].map(lambda d: d if isinstance(d, dict) else {})

event_df = pd.json_normalize(s, sep=',')

taps_df = taps_df.drop(columns=['event_data']).join(event_df)

In [72]:
taps_df.describe

<bound method NDFrame.describe of               day  user_id  position          value_prop
0      2020-11-01    98702         0  cellphone_recharge
1      2020-11-01     3708         2               point
2      2020-11-01     3708         3          send_money
3      2020-11-01    93963         0           transport
4      2020-11-01    93963         1  cellphone_recharge
...           ...      ...       ...                 ...
50854  2020-11-30    64149         2    credits_consumer
50855  2020-11-30     3329         1               point
50856  2020-11-30    77012         1  cellphone_recharge
50857  2020-11-30    14704         2  cellphone_recharge
50858  2020-11-30    93605         2           transport

[50859 rows x 4 columns]>

In [73]:
taps_df['position'].unique()
taps_df['value_prop'].unique()

array(['cellphone_recharge', 'point', 'send_money', 'transport',
       'link_cobro', 'prepaid', 'credits_consumer'], dtype=object)

In [74]:
def normalize_pays(pays_df: pd.DataFrame) -> pd.DataFrame:
    """
        Normalization of columns and values in pays_df
        Args:
            - pays_df
        Returns:
            - normalized_pays_df
    """

    df = pays_df.copy()

    # colum pay_date validation and renaming to day

    if "pay_date" in df.columns:
        df["day"] = pd.to_datetime(df["pay_date"]).dt.date
        df = df.drop(columns=["pay_date"])
    elif "day" in df.columns:
        df["day"] = pd.to_datetime(df["day"]).dt.date
    else:
        raise ValueError("pays_df debe tener 'pay_date' o 'day'.")

    # validation of column value_prop exist in df

    if "value_prop" not in df.columns:
        # validate if the coluimn value_prop exist with another name
        for c in df.columns:
            if c.endswith("value_prop"):
                df = df.rename(columns={c: "value_prop"})
                break
            
    expected = {"day", "user_id", "value_prop", "total"}
    missing = expected - set(df.columns)
    if missing:
        raise ValueError(f"pays_df faltan columnas: {missing}")

    return df[["day", "user_id", "value_prop", "total"]]

In [75]:
pays_normalized = normalize_pays(pays_df)

In [76]:
def normalize_events(events_df: pd.DataFrame) -> pd.DataFrame:
    """
        normalize event dfs such prints_df and taps_df
        Args:
            - event df
        Returns:
            - normalized df
    """
    df = events_df.copy()

    # validate column day exist in df
    if "day" in df.columns:
        df["day"] = pd.to_datetime(df["day"]).dt.date
    else:
        raise ValueError("events_df debe tener columna 'day'.")

    # Secure renaming
    rename_map = {}
    # position
    if "position" not in df.columns:
        for c in df.columns:
            if c.endswith("position"):
                rename_map[c] = "position"
                break
    # value_prop
    if "value_prop" not in df.columns:
        for c in df.columns:
            if c.endswith("value_prop"):
                rename_map[c] = "value_prop"
                break

    if rename_map:
        df = df.rename(columns=rename_map)

    expected = {"day", "user_id", "position", "value_prop"}
    missing = expected - set(df.columns)
    if missing:
        raise ValueError(f"events_df faltan columnas: {missing}")

    # Asegurar ints en position
    df["position"] = pd.to_numeric(df["position"], errors="coerce").fillna(-1).astype(int)

    return df[["day", "user_id", "value_prop", "position"]]

In [77]:
prints_normalized = normalize_events(prints_df)
prints_normalized

               day  user_id          value_prop  position
0       2020-11-01    98702  cellphone_recharge         0
1       2020-11-01    98702             prepaid         1
2       2020-11-01    63252             prepaid         0
3       2020-11-01    24728  cellphone_recharge         0
4       2020-11-01    24728          link_cobro         1
...            ...      ...                 ...       ...
508612  2020-11-30    50807          send_money         0
508613  2020-11-30    50807             prepaid         1
508614  2020-11-30    50807    credits_consumer         2
508615  2020-11-30     1487               point         0
508616  2020-11-30     9462          send_money         0

[508617 rows x 4 columns]

In [78]:
taps_normalized = normalize_events(taps_df)

In [79]:
def aggregate_pays(pays_norm: pd.DataFrame) -> pd.DataFrame:
    """
        Groups all rows for diferent day, user and prop
        Args:
            - normalized pays df
        Returns:
            - pays df with total pays sum by diferent day, user and prop
    """
    agg = (
        pays_norm.groupby(["day", "user_id", "value_prop"], as_index=False)
                 .agg(payments_total=("total", "sum"),
                      payments_cnt=("total", "size"))
    )
    return agg

In [80]:
pays_aggregated = aggregate_pays(pays_normalized)

In [94]:
pays_aggregated

               day  user_id          value_prop  payments_total  payments_cnt
0       2020-11-01       15             prepaid            1.66             1
1       2020-11-01       15          send_money          156.95             1
2       2020-11-01       16    credits_consumer            4.34             1
3       2020-11-01       16           transport           98.60             1
4       2020-11-01       26               point           63.62             1
...            ...      ...                 ...             ...           ...
756478  2020-11-30    99984          send_money          117.05             1
756479  2020-11-30    99985           transport           25.23             1
756480  2020-11-30    99988          link_cobro            2.35             1
756481  2020-11-30    99988           transport            0.86             1
756482  2020-11-30    99991  cellphone_recharge          100.75             1

[756483 rows x 5 columns]

In [81]:
def aggregate_events_wide(events_norm: pd.DataFrame, prefix: str) -> pd.DataFrame:
    """
        Count events by (day, user_id, value_prop, position), pivot columns and sum totals to be 1 
        Args:
            - normilized event df
            - prefix(prints or taps) to create pivot columns
        Returns:
            - agregated and pivoted df
    """
    long = (
        events_norm.groupby(["day", "user_id", "value_prop", "position"], as_index=False)
                   .size()
                   .rename(columns={"size": f"{prefix}_cnt"})
    )
    wide = (
        long.pivot_table(
            index=["day", "user_id", "value_prop"],
            columns="position",
            values=f"{prefix}_cnt",
            aggfunc="sum",
            fill_value=0
        )
        .rename(columns=lambda p: f"{prefix}_pos_{int(p)}")
        .reset_index()
    )

    for k in range(4):
        col = f"{prefix}_pos_{k}"
        if col not in wide.columns:
            wide[col] = 0

    wide[f"{prefix}_total"] = wide[[f"{prefix}_pos_{k}" for k in range(4)]].sum(axis=1)
    return wide

In [82]:
prints_aggregated = aggregate_events_wide(prints_normalized, prefix="prints")
prints_aggregated['prints_total'].unique()

array([1])

In [83]:
taps_aggregated = aggregate_events_wide(taps_normalized, prefix="taps")
taps_aggregated['taps_total'].unique()

array([1])

In [84]:
how: str = "outer"

In [ ]:
merged_df = (
        pays_aggregated.merge(prints_aggregated, on=["day", "user_id", "value_prop"], how=how)
                .merge(taps_aggregated,   on=["day", "user_id", "value_prop"], how=how)
                .fillna(0)
    )

In [96]:
merged_df_2 = (
        pays_aggregated.merge(prints_normalized, on=["day", "user_id", "value_prop"], how=how)
                .merge(taps_normalized,   on=["day", "user_id", "value_prop"], how=how)
                .fillna(0)
    )

In [97]:
merged_df_2

,day,user_id,value_prop,payments_total,payments_cnt,position_x,position_y
0,2020-11-01,15,prepaid,1.66,1.0,0.0,0.0
1,2020-11-01,15,send_money,156.95,1.0,0.0,0.0
2,2020-11-01,16,credits_consumer,4.34,1.0,0.0,0.0
3,2020-11-01,16,transport,98.60,1.0,0.0,0.0
4,2020-11-01,26,point,63.62,1.0,0.0,0.0
...,...,...,...,...,...,...,...
1246720,2020-11-30,99989,point,0.00,0.0,1.0,0.0
1246721,2020-11-30,99990,credits_consumer,0.00,0.0,1.0,0.0
1246722,2020-11-30,99990,point,0.00,0.0,2.0,0.0
1246723,2020-11-30,99990,transport,0.00,0.0,0.0,0.0
1246724,2020-11-30,99991,cellphone_recharge,100.75,1.0,0.0,0.0

In [87]:
# convert to numeric columns
num_cols = [c for c in merged_df.columns if c not in ["day", "user_id", "value_prop"]]
merged_df[num_cols] = merged_df[num_cols].apply(pd.to_numeric, errors="coerce").fillna(0)
# sort columns
base = ["day", "user_id", "value_prop", "payments_total", "payments_cnt",
        "prints_total", "taps_total"]
pos_cols = [f"prints_pos_{k}" for k in range(4)] + [f"taps_pos_{k}" for k in range(4)]
cols = [c for c in base if c in merged_df.columns] + [c for c in pos_cols if c in merged_df.columns] + \
       [c for c in merged_df.columns if c not in base + pos_cols]

In [88]:
funnel_df = merged_df.loc[:, cols]
funnel_df

,day,user_id,value_prop,payments_total,payments_cnt,prints_total,taps_total,prints_pos_0,prints_pos_1,prints_pos_2,prints_pos_3,taps_pos_0,taps_pos_1,taps_pos_2,taps_pos_3
0,2020-11-01,15,prepaid,1.66,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-11-01,15,send_money,156.95,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-11-01,16,credits_consumer,4.34,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-11-01,16,transport,98.60,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-11-01,26,point,63.62,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1246720,2020-11-30,99989,point,0.00,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1246721,2020-11-30,99990,credits_consumer,0.00,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1246722,2020-11-30,99990,point,0.00,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1246723,2020-11-30,99990,transport,0.00,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1246724,2020-11-30,99991,cellphone_recharge,100.75,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [89]:
def compute_metrics(funnel_df: pd.DataFrame) -> pd.DataFrame:
    """
        Add metrics to the data by (day, user_id, value_prop):
        - ctr = taps_total / prints_total
        - conv_pay_per_tap = payments_cnt / taps_total
        - conv_pay_per_user = 1 if the user pays (>0), 0 otherwise (usefull to get rates)
        (Aditional get ctr by pos, usefull to rate by pos)
    """
    df = funnel_df.copy()

    def safe_div(a, b):
        return (a / b).where(b != 0, 0)

    df["ctr"] = safe_div(df.get("taps_total", 0), df.get("prints_total", 0))
    df["conv_pay_per_tap"] = safe_div(df.get("payments_cnt", 0), df.get("taps_total", 0))
    df["conv_pay_per_user"] = (df.get("payments_cnt", 0) > 0).astype(int)

    for k in range(4):
        p_col = f"prints_pos_{k}"
        t_col = f"taps_pos_{k}"
        df[f"ctr_pos_{k}"] = safe_div(df.get(t_col, 0), df.get(p_col, 0))

    return df

In [90]:
metrics_df = compute_metrics(funnel_df)

In [91]:
metrics_df

,day,user_id,value_prop,payments_total,payments_cnt,prints_total,taps_total,prints_pos_0,prints_pos_1,prints_pos_2,...,taps_pos_1,taps_pos_2,taps_pos_3,ctr,conv_pay_per_tap,conv_pay_per_user,ctr_pos_0,ctr_pos_1,ctr_pos_2,ctr_pos_3
0,2020-11-01,15,prepaid,1.66,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0
1,2020-11-01,15,send_money,156.95,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0
2,2020-11-01,16,credits_consumer,4.34,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0
3,2020-11-01,16,transport,98.60,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0
4,2020-11-01,26,point,63.62,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1246720,2020-11-30,99989,point,0.00,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
1246721,2020-11-30,99990,credits_consumer,0.00,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
1246722,2020-11-30,99990,point,0.00,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
1246723,2020-11-30,99990,transport,0.00,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0
1246724,2020-11-30,99991,cellphone_recharge,100.75,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0,0.0

In [111]:
def roll_sum_values(col: str, gb:pd.DataFrame, lookback_days:int, df:pd.DataFrame):
        s = (
            gb.rolling(window=f'{lookback_days}D', on='day', closed='left')[col]
              .sum()
        )
        if len(s) != len(df):
            s = s.reset_index(level=[0,1], drop=True)
        assert len(s) == len(df), f"Longitudes no coinciden: {len(s)} != {len(df)}"
        return s.fillna(0).to_numpy()

In [112]:
import pandas as pd

def build_prints_last_week_dataset(
    merged_df: pd.DataFrame,
    lookback_days: int = 21,
    last_week_days: int = 7,
    preaggregate_duplicates: bool = True,
) -> pd.DataFrame:
    """
        Build answers for questions
        Args: 
            - funnel_df
            - lookback_days
            - last_week_days
            - preaggregate_duplicates
        Returns:
            - dataframe with prepared data
    """

    df = merged_df.copy()

    # securing types
    df['day'] = pd.to_datetime(df['day'], errors='coerce')
    if df['day'].isna().any():
        bad = df[df['day'].isna()]
        raise ValueError(f"Hay filas con 'day' invÃ¡lido, ej: {bad.head(3)}")

    for col in ['prints_total','taps_total','payments_cnt','payments_total']:
        if col in df.columns:
            df[col] = pd.to_numeric(df[col], errors='coerce').fillna(0)
        else:
            df[col] = 0

    # securing not duplicates column names
    if preaggregate_duplicates:
        df = (
            df.groupby(['user_id','value_prop','day'], as_index=False)
              .agg({
                  'prints_total':'sum',
                  'taps_total':'sum',
                  'payments_cnt':'sum',
                  'payments_total':'sum',
                  **{c:'first' for c in df.columns
                     if c not in {'user_id','value_prop','day','prints_total','taps_total','payments_cnt','payments_total'}}
              })
        )

    # Sorting
    df = df.sort_values(['user_id','value_prop','day']).reset_index(drop=True)

    gb = df.groupby(['user_id','value_prop'], group_keys=False)

    
    # take data fron 3 las weeks
    df['prev3w_prints']         = roll_sum_values('prints_total', gb, lookback_days, df)
    df['prev3w_clicks']         = roll_sum_values('taps_total', gb, lookback_days, df)
    df['prev3w_payments_cnt']   = roll_sum_values('payments_cnt', gb, lookback_days, df)
    df['prev3w_payments_total'] = roll_sum_values('payments_total', gb, lookback_days, df)

    # rename data and format
    df['prints_today']         = df['prints_total']
    df['taps_today']           = df['taps_total']
    df['payments_cnt_today']   = df['payments_cnt']
    df['payments_total_today'] = df['payments_total']
    df['clicked_today']        = (df['taps_today'] > 0).astype(int)

    # get last week
    max_day = df['day'].max()
    start_last_week = max_day - pd.Timedelta(days=last_week_days - 1)

    out = df.loc[
        (df['day'].between(start_last_week, max_day)) &
        (df['prints_today'] > 0),
        [
            'day','user_id','value_prop',
            'prints_today','clicked_today',
            'prev3w_prints','prev3w_clicks',
            'prev3w_payments_cnt','prev3w_payments_total',
            'payments_cnt_today','payments_total_today','taps_today'
        ]
    ].reset_index(drop=True)

    return out

In [113]:
result = build_prints_last_week_dataset(funnel_df)

In [114]:
result

,day,user_id,value_prop,prints_today,clicked_today,prev3w_prints,prev3w_clicks,prev3w_payments_cnt,prev3w_payments_total,payments_cnt_today,payments_total_today,taps_today
0,2020-11-30,1,cellphone_recharge,1.0,0,1.0,0.0,1.0,15.47,0.0,0.0,0.0
1,2020-11-30,1,link_cobro,1.0,0,2.0,0.0,1.0,137.14,0.0,0.0,0.0
2,2020-11-30,1,point,1.0,0,1.0,0.0,0.0,0.00,0.0,0.0,0.0
3,2020-11-30,1,transport,1.0,0,2.0,0.0,0.0,0.00,0.0,0.0,0.0
4,2020-11-24,2,cellphone_recharge,1.0,0,1.0,0.0,0.0,0.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
113331,2020-11-25,99996,credits_consumer,1.0,0,0.0,0.0,1.0,53.32,0.0,0.0,0.0
113332,2020-11-25,99997,credits_consumer,1.0,0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
113333,2020-11-25,99997,link_cobro,1.0,0,0.0,0.0,0.0,0.00,0.0,0.0,0.0
113334,2020-11-25,100000,prepaid,1.0,0,0.0,0.0,1.0,14.37,0.0,0.0,0.0
113335,2020-11-25,100000,send_money,1.0,0,2.0,0.0,2.0,50.89,0.0,0.0,0.0